<h2 class="h1 mt-3 mb-4 ml-3 text-center">Welcome to our gossip community!</h2>
<container class="d-flex justify-content-center">
<div class="card bg-light mb-3" style="max-width: 46rem;">
  <div class="card-header">Create a new account:</div>
  <div class="card-body">
    <div class="container mt-5 form-group">
      <%= form_tag url_for(action: 'create'), method: "post" do %>
      <% if @user.errors.any? %>
        <p class="alert alert-danger d-flex justify-content-center" role="alert"">The following error(s) ocurred:
          <% @user.errors.full_messages.each do |message| %>
            <%= message %></p>
          <% end %>
        <p>Re-send the form with the rightful informations.</p>
      <% end %>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <%= label_tag 'Your firstname:' %>
        <%= text_field_tag 'first_name', @user.first_name, class:'form-control' %>
        <br /> <br />
        <%= label_tag 'Your lastname:' %>
        <%= text_field_tag 'last_name', @user.last_name, class:'form-control' %>
        <br /> <br />
        <%= label_tag 'Your age:' %>
        <%= number_field_tag 'age', @user.age, class:'form-control' %>
        <br /> <br />
        <%= label_tag 'Your zip_code:' %>
        <%= text_field_tag 'zip_code', @zip_code, class:'form-control' %>
        <br /> <br />
        <%= label_tag 'Your email address, must be of the format xxxxx@yyy.zzz:' %>
        <%= text_field_tag 'email', @user.email, class:'form-control' %>
        <br /> <br />
        <%= label_tag 'Your password:' %>
        <%= text_field_tag 'password', @password, class:'form-control' %>
        <br /> <br />
        <%= label_tag 'Confirm your password:' %>
        <%= text_field_tag 'password_confirmation', @password_confirmation, class:'form-control' %>
        <br /> <br />
        <%= label_tag 'Write a short description of yourself (256 characters max!):' %>
        <%= text_area_tag 'description', @user.description, class:'form-control' %>
        <br /> <br />
        <input type="hidden" name="author" value=<%= User.all.sample.id %>>
        <%= submit_tag "Create your account", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
</container>
