<container class="container-fluid d-flex justify-content-center row mb-0 pb-0">
  <% if flash[:success] %>
    <p class="container alert alert-success d-flex justify-content-center col-12 mb-0 mr-0" role="alert"><%= flash[:success] %></p>
  <% elsif flash[:danger] %>
    <p class="container alert alert-danger d-flex justify-content-center col-12 mb-0 mr-0" role="alert"><%= flash[:danger] %></p>
  <% end %>
</container>
    <div class="jumbotron mt-0">
      <div class="container d-flex justify-content-center">
        <img src="https://media.giphy.com/media/hQdWtl18ibA58nil8t/giphy.gif" class="img-fluid mr-5" alt="Responsive image">
        <div class="d-flex flex-column">
        <h1 class="mt-4 mb-4"> Welcome!</h1>
        <p class="mt-4 mb-4">👉 Discover the best gossips of The Hacking Project here!</p>
        </div>
      </div>
    </div>

    <section class="container mt-4 mb-4">
      <h4 class="text-center mt-4 mb-4">The current gossips are:</h4>
      <% @gossips.sort_by(&:created_at).each do |gossip| %>
      <div class="list-group m-4 justify-content-between">
        <a href="<%=gossip_path(gossip.id)%>" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Gossip n°<%= gossip.id %></h5>
          </div>
          <p class="mb-1"><%= gossip.title %></p>
          <small>Author: <%= gossip.author.first_name %></small>
        </a>
      </div>
      <%end %>
  </section>
  <div class="text-center mt-3 mb-4 ml-3">
    <h5 class="text-center mt-4 mb-4">Create a new gossip here:</h5>
    <%= link_to "create a gossip", new_gossip_path, :class =>"btn btn-primary" %>
    <br>
  </div>

