<h2 class="h1 mt-3 mb-4 ml-3 text-center">Create a new gossip here:</h2>
<div class="container mt-5 form-group">
  <%= form_tag url_for(action: 'create'), method: "post" do %>
  
  <% if @gossip.errors.any? %>
    <p class="alert alert-danger d-flex justify-content-center" role="alert"">The following error(s) ocurred:
      <% @gossip.errors.full_messages.each do |message| %>
        <%= message %></p>
      <% end %>
    <p>Re-send the form with the right informations</p>
  <% end %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <%= label_tag 'Title of your new gossip:' %>
  <%= text_field_tag 'title', @gossip.title, class:'form-control' %>
  <br /> <br />
  <%= label_tag 'Content of the new gossip:' %>
  <%= text_area_tag 'content', @gossip.content, class:'form-control' %>
  <br /> <br />
  <input type="hidden" name="author" value=<%= User.all.sample.id %>>
  <%= submit_tag "Create Gossip", class:"btn btn-primary" %>
<% end %>
</div>
